parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  bootstrapFiles:
    - %currentWorkingDirectory%/phpstan.bootstrap.php
  paths:
    # for now only checking theme
    - Classes/
    - ext_localconf.php
    - ext_emconf.php
  ignoreErrors:
    - message: '#Variable \$_EXTKEY might not be defined#'
      path: '*/ext_emconf.php'
  excludePaths:
    - Tests/Acceptance/_support/_generated
